*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #66FCF1;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  background-color: #0B0C10;
}

img {
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 600px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: 1200px) {
    padding-left: 103px;
    padding-right: 103px;
  }
}
